/* gymLocation.css */
.map-container {
  position: relative;
    padding: 10px 10% 30px 10%;
    overflow: hidden;
    color: #fff;
    width: 100%;
    text-align: center;
    background: #000;
}

.map-container h2 {
  position: relative;
    text-align: center;
    font-size: 2.5rem;
    background: linear-gradient(97.69deg, #5E5D7F 2.97%, #EF7F1A 97.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;
    z-index: 1;
    margin-bottom: 15px;
    margin-top: 10px;
}

@media (min-width: 1920px){
    .map-container h2{
        font-size: 60px;
    }
}
@media (min-width: 1536px){
    .map-container h2{
        font-size: 50px;
    }
}

@media (max-width: 440px){
    .map-container{
         padding: 1% 3%;
    }
    .map-container h2{
        font-size: 25px;
    }
}
